/* Variable fonts usage:
:root { font-family: "Inter", sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: "InterVariable", sans-serif; font-optical-sizing: auto; }
} */
@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/assets/fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: MulishVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/assets/fonts/Mulish-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: SpaceMono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/assets/fonts/SpaceMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: SpaceMonoBold;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/assets/fonts/SpaceMono-Bold.ttf') format('truetype');
}

@font-face {
  font-family: SpaceMonoItalic;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/assets/fonts/SpaceMono-Italic.ttf') format('truetype');
}

@font-face {
  font-family: SpaceMonoItalicBold;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/assets/fonts/SpaceMono-BoldItalic.ttf') format('truetype');
}
